/.metadata/
/Java/bin/*.class
*.board
*.class
Java/bin/game/Move.class
*.class
Java/bin/game/IODriver.class
*.class
Java/bin/game/Board.class
*.class
Java/bin/game/AIPlayer.class
*.class
Java/bin/.classpath
Java/bin/.project
Java/bin/META-INF/MANIFEST.MF
